<div class="row">
  <div class="small-8 columns">
    <div class="card">
      <div class="card-content">
        <% unless secondary.nil? %>
          
          <ul class="tabs">
            <li class="tab"><a href="#primary"><%= primary_tab %></a></li>
            <li class="tab"><a href="#secondary"><%= secondary_tab %></a></li>
          </ul>

          <div id="primary">
            <%= render partial: "#{primary}" %>
          </div>
          <div id="secondary">
            <%= render partial: "#{secondary}" %>
          </div>

          <!-- <%= render partial: "#{primary}" %>
          <p>&nbsp;</p>
          <%= render partial: "#{secondary}" %> -->
        <% else %>
          <%= render partial: "#{primary}" %>
        <% end %>
      </div>
    </div>
    
  </div>
  <div class="small-4 columns">
    <!-- render the sidebar, if it exists -->
    <%= render partial: "#{sidebar}" unless sidebar.blank? %>
  </div>
</div>

<!-- Add a button for new instances of object -->
<%= render :partial => 'partials/add_new_object', locals: {model_name: model_name} %>
