
<div class="row">
  <div class="small-8 columns">
    <div class="card">
      <div class="card-content">
        <% if model_name == 'employee'%>
            <%= form_with url: search_path, method: :get, class: "form-inline", id: "search" do %>
              <%= text_field_tag 'query', '', placeholder: "Search ..." %>
            <% end %>
        <% end %>
        <% unless secondary.nil? %>
          
          <ul class="tabs">
            <li class="tab"><a href="#primary"><%= primary_tab %></a></li>
            <li class="tab"><a href="#secondary"><%= secondary_tab %></a></li>
          </ul>

          <div id="primary">
            <%= render partial: "#{primary}" %>
          </div>
          <div id="secondary">
            <%= render partial: "#{secondary}" %>
          </div>
        <% else %>
          <%= render partial: "#{primary}" %>
        <% end %>
      </div>
    </div>
    
  </div>
  <div class="small-4 columns">
    <!-- render the sidebar, if it exists -->
    <%= render partial: "#{sidebar}" unless sidebar.blank? %>
  </div>
</div>

<!-- Add a button for new instances of object -->
<% if can? :create, object_class %>
  <%= render :partial => 'partials/add_new_object', locals: {model_name: model_name} %>
<% end %>
