<nav id="nav">
  <div class="container">
    <ul class="left hide-on-med-and-down">
      <li><%= link_to 'Stores', stores_path %></li>
      <li><%= link_to 'Employees', employees_path %></li>
      <li><%= link_to 'Assignments', assignments_path %></li>
    </ul>
    <ul class="right">
      <% if logged_in? %>
        <li><%= link_to 'Logout', logout_path %></li>
        <li>[<%= current_user.proper_name %> : <%= current_user.role %>]</li>
      <% else %>
        <li><%= link_to 'Login', login_path %></li>
      <% end %>
    </ul>
  </div>
</nav>