
    <h5><%= state.titleize %> Shifts</h5>

    <% if shifts.empty? %>
      <p>There are no <%= state.downcase %> shifts at this time.</p>
    <% else %>

      <table class="striped highlight">
        <thead>
          <th>Employee</th>
          <th>Store</th>
          <th>Date</th>
          <th>Times</th>
          <th class="align_center">Options</th>
        </thead>
        <% shifts.each do |shift| %>
          <tr %>
            <td><%= link_to shift.employee.name, employee_path(shift.employee) %></td>
            <td>
                <% if can? :show, shift.store %>
                    <%= link_to shift.store.name, store_path(shift.store) %>
                <% else %>
                    <%= shift.store.name %>
                <% end %>
            </td>
            <td><%= shift.date.strftime("%b %-d, %Y") %></td>
            <td><%= shift.start_time.strftime("%l:%M %P") %>- <%= shift.end_time.nil? ? 'Now' : shift.end_time.strftime("%l:%M %P") %></td>
            <td class="align_center">
                <%= link_to shift_path(shift) do %>
                    <i class="material-icons">pageview</i>
                <% end %>
                <% if can? :edit, shift %>
                  <%= link_to edit_shift_path(shift) do %>
                      <i class="material-icons">edit</i>
                  <% end %>
                <% end %>
            </td>
          </tr>
        <% end %>
      </table>
      <p class="supertiny"></p>
      <br />
      <%= will_paginate shifts, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>
    <% end %>